.home-section .home-content1{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    position: relative;
    padding-top: 104px;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  
